.form-container{
  width: 40%;
  margin: auto 30%;
  border: 4px solid #42b72a;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: #dfe3ee;;
}
#form {
  width: 60%;
  margin: auto 20%;
  padding-bottom: 2vh;
}

.radio, .form-control{
  text-align: center;

  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;

  display: block;
  width: 90%;
  margin: 2vh 5%;
  font-size: 18px;
  height: 50px;
}
.radio{
  font-size: 18px;
  padding: 12px;
}
.btn{
  font-size: 18px;
}
